.main_cont {
  background: white;
}
.scroll_container {
  overflow-x: scroll;
  scroll-behavior: smooth;
  white-space: wrap;
}
.card {
  flex: 0 0 auto; /* Prevent shrinking and ensure proper width */
  width: 300px;
  border: none;
  margin: 15px 10px;
  background: #f6f6f6;
}
.more_btn {
  font-size: 16px;
  position: relative;
}
