.login_form {
  justify-content: center;
  border: 2px solid #e7e7e7;
  padding: 20px;
}
.form_input {
  height: 50px;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #e7e7e7;
}
.head {
  font-size: calc(1rem + 1.5vw);
}
.form_btn {
  margin-top: 10px;
  font-size: calc(1.375rem + 1.5vw);
  max-width: max-content;
  border-radius: 8px;
  padding: 8px 20px;
}
.brand_container {
  flex-basis: 50%;
}
.form_container {
  flex-basis: 50%;
}

.brand_container > h1 {
  font-size: calc(1.375rem + 1.5vw);
}
