.image {
  width: 80%;
}
.image_marquee {
  width: 100%;
}
.text {
  width: 85vw !important;
}

@media only screen and (max-width: 992px) {
  .text {
    max-width: 100vw;
    flex-direction: column !important;
  }
}
